.list{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.topbutton:hover,
.topbutton:focus{
    background-color: #404BBF;
}
.link{
    text-decoration: none;
}
body{
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #434455
    
}
/* Header navigation */
.top-headr{
    
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.headr-container{
    display: flex;
    align-items: center;
    
}
.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}
.first-logo{
color:#2e2f42;
}
a:-webkit-any-link{
    cursor: pointer;
}
.top-navigation{
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: auto;
}
.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.line-studio::after{
    content: "";
    display: block;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    position: absolute;
    background-color: #404bbf;
}
.menu-link{
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-studio{
    color: #404bbf;
    position: relative;
}
.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
.menu-contacts{
    display: flex;
    gap: 40px;
}
.contacts-link{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus{
    color: #404BBF;
}
/* Main content */
.first-section{
    background-image:linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    background-color: #2E2F42;
    display: flex;
    padding: 188px 0;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
}
.solution-title{
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
}
.topbutton{
    font-family: Roboto, sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* about */
.second-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.desc{
    display: flex;
    gap: 24px;
}
.about-icon-box{
    background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}
.about-icon{

}
.desc-item{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.desc-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
/* our team  section 3*/
.team{
    background-color: #F4F4FD;
    height: 732px;
  flex-shrink: 0;
  display: block;
    text-align: center;
    padding: 120px 0;
}
.team-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list{
    justify-content: center;
    display: flex;
    gap: 24px;
}
.title-networks-list{
    display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.title-networks-item{
    width: 40px;
  height: 40px;
}
.people-icon{
    fill: #f4f4fd;
}
.title-networks-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-menu-container {
    padding: 32px 0;
    
}
.team-photo{
    background: #FFF ;
    width: calc((100% - 72px) / 4);
    padding-bottom: 0px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    list-style-type: none;
}
.title-networks-link:hover,
.title-networks-link:focus{
    background-color: #404bbf;
}
.team-title-menu-images {
    background-color: #FFF;
}
.team-link{
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.team-text{
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* === Section 3 - Responsive === */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-three-container {
    max-width: 584px;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-three-container {
    max-width: 1158px;
  }
}

@media (min-width: 1158px) {
  .section-text-three {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
/* our portfolio */
.portfolio{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-photo{
    margin-bottom: 8px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.back-box{
    position: relative;
    overflow: hidden;
}

.back{
    position: absolute;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2,1);
}
.portfolio-photo:hover .back{
    transform: translateY(0%);
}

.portfolio-menu-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-menu-image {
    max-width: 360px;
    height: 300px;
}
.portfolio-link{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* footer */
.down-container{
    display: flex;
    align-items: baseline;
}
.down{
    background-color:#2E2F42;
    padding: 100px 0;
}
.down-logo{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.second-logo{
color: #f4f4fd;
width: 71px;
}
.down-text{
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-left{
    margin-right: 120px;
}
.footer-right {
    display: block;
}
.footer-title {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    margin-top: 0;
}

.footer-list {
    display: flex;
    gap: 16px;
}
.icon-team{
    fill:  #f4f4fd;
}
.footer-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo-box:hover,
.footer-logo-box:focus {
    background-color: #31d0aa;
}
.footer-adress-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
}
.all-footer-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-icon-container {
  width: 40px;
  height: 40px;
}
.icon-link:hover {
    background-color: #31d0aa;
  }
  
  .icon-link:focus {
    background-color: #31d0aa;
  }
  .footer-subscribe-container {
    margin-left: auto;
  }
  
  .footer-form {
    display: flex;
    gap: 24px;
  }
  
  .footer-label {
    display: flex;
    gap: 24px;
  }
  
  .footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  
  .footer-form-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-form-btn:hover,
  .footer-form-btn:focus,
  .footer-form-btn:active {
    background-color: #404bbf;
  }
  
  .footer-btn-icon {
    margin-left: 16px;
    fill: #ffffff;
  }
.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-icon {
    fill: #f4f4fd;
}
/* backdrop */
.backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    width: 408px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-btn-close {
    width: 24px;
    min-height: 24px;
    padding: 0;
    border-radius: 50%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-btn-close:hover,
  .modal-btn-close:focus,
  .modal-btn-close:active {
    background-color: #404bbf;
    border: none;
  }
  
  .modal-btn-close:hover .modal-btn-icon,
  .modal-btn-close:focus .modal-btn-icon,
  .modal-btn-close:active .modal-btn-icon {
    fill: #ffffff;
  }
  
  .modal-title {
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin: auto;
    margin-bottom: 16px;
  }
  
  .modal-field {
    position: relative;
    margin-bottom: 8px;
  }
  .modal-label {
    position: absolute;
    top: 0;
    left: 0;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
  }
  
  .input-container {
    position: relative;
    width: 360px;
    height: 40px;
    margin-bottom: 8px;
  }
  
  .modal-input {
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 360px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
  }
  
  .input-container:focus-within .modal-input {
    border-color: #4d5ae5;
  }
  .input-container:focus-within .modal-icon  {
    fill: #4d5ae5;
  }
  
  .comment-modal-field {
    position: relative;
    margin-bottom: 16px;
    width: 360px;
  }
  
  .modal-label {
    display: block;
    position: relative;
  }
  .modal-comment-area {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    resize: none;
  }
  
  .modal-comment-area:hover,
  .modal-comment-area:focus,
  .modal-comment-area:active {
    border-color: #4d5ae5;
  }
  
  .checkbox-modal-field {
    display: flex;
    margin-bottom: 24px;
  }
  .checkbox-modal-input:checked + .checkbox-modal-label .checkbox-icon-field {
    background-color: #404bbf;
    border-color: #4d5ae5;
    fill: #f4f4fd;
    border: none;
  }
  
  .checkbox-modal-label {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
  }
  
  .checkbox-icon-field {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    margin-right: 8px;
  }
  
  .checkbox-icon:checked {
    fill: transparent;
    stroke: #ffffff;
    border: none;
  }
  .checkbox-modal-input:focus + .checkbox-modal-label .checkbox-icon-field {
    border-color: #4d5ae5;
  }
  .checkbox-icon-link {
    width: 100%;
    height: 100%;
  }
  
  .privacy-policy-link {
    color: #4d5ae5;
    text-decoration-line: underline;
  }
  
  .modal-btn-send {
    display: block;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-btn-send:hover,
  .modal-btn-send:focus {
    background-color: #404bbf;
  }